<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="encryptedSettings" type="System.Configuration.AppSettingsSection" />
    </configSections>
    <appSettings>
        <add key="MyPlainSetting" value="This is plain text."/>
    </appSettings>
    <encryptedSettings>
        <add key="MyEncryptedSetting" value="This text will be encrypted."/>
    </encryptedSettings>
</configuration>